th {
    text-align: left;
}

.wrapper .container {
    background-color: white;
    padding: 1% 1% 1% 1%;
}

.wrapper {
    background-color: whitesmoke;
    font-family: Oswald;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: -100;
    display: flex;
    align-items: center;
}

    .wrapper .formHeader {
        text-align: center;
        font-size: large;
        font-weight: bold;
    }

.header {
    height: 78px;
    font-family: Oswald;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
}

    .header img {
        height: 70px;
    }

    .header hr {
        margin: 0 0 0 0;
    }

.inline-block {
    display: inline-block;
}

.loading-background {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#details table {
    position: fixed;
    top: 30%;
    left: 40%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

    #details table td {
        text-align: left;
    }

a {
    color: #337ab7;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #23527c;
        text-decoration: underline;
    }

.loading-content {
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 30px;
    padding-top: 120px;
    background: none;
}

.red {
    color: #a94442;
}

.green {
    color: #3c763d;
}

.message-container {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.message-content {
    position: relative;
    text-align: center;
    top: calc(50% - 55px);
    left: calc(50% - 200px);
    padding: 20px;
    font-size: 20px;
    width: 400px;
    height: 110px;
    background-color: white;
}

.success-message {
}

.loading-content p {
    font-size: 40px;
}

.tab {
    background-color: white;
}

.float-right {
    float: right;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: block;
    position: relative;
    width: 100%;
}

    .dropdown-menu li a {
        display: inline-block;
    }

        .dropdown-menu li a.float-right {
            color: #337ab7;
        }

.tab-navigation-button {
    padding: 10px;
    background-color: white;
    color: black;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: solid;
    border-bottom: none;
}

    .tab-navigation-button.active {
        background-color: whitesmoke;
    }

.control-label {
    margin-bottom: 0px;
    margin-top: 7px;
}

.help-block {
    margin-bottom: 0px;
}

    .help-block p {
        margin-bottom: 0px;
    }

.hide {
    display: none !important;
}

.row {
    margin: 5px 0px 10px 0px;
}

.tab {
    padding: 5px;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 20px;
}

input[type=number].small {
    width: 50px;
    padding-right: 2px;
}

.lightgray {
    background-color: lightgray;
}

button.active {
    background-color: lightgray !important;
}

.moderator-top-header li {
    font-size: 2rem;
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.moderator-top-header {
    margin-top: 5px;
    border-bottom: 2px solid black;
}

ul.moderator-top-header li:last-child {
    float: right;
}

.body-color {
    background-color: whitesmoke;
}

#container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
}

/*thead, th, td {
    border: 1px solid black;
}*/

.questionText {
    max-width: 100%;
    width: 100%;
}

.wrapperDashboard1 {
    background-color: whitesmoke;
    font-family: Oswald;
    position: absolute;
    top: 81px;
    left: 0;
    right: 0;
    z-index: -100;
    min-height: calc(100% - 81px);
}

    .wrapperDashboard1 button {
        border-radius: 0;
    }

    .wrapperDashboard1 label {
        margin-right: 10px;
    }

.wrapperForm {
    margin-top: 20px;
    padding: 1px 20px 60px 20px;
    background-color: none;
    font-family: Oswald;
}

    .wrapperForm label {
        margin-right: 10px;
    }

    .wrapperForm input {
        border-radius: 0;
    }

    .wrapperForm select {
        border-radius: 0;
    }

    .wrapperForm textarea {
        border-radius: 0;
    }

    .wrapperForm button {
        border-radius: 0;
    }

    .wrapperForm a {
        border-radius: 0;
    }

.wrapperDashboard1 input[type=search] {
    cursor: text;
    width: 300px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.wrapperDashboard1 .box {
    margin-top: 10px;
}

.wrapperDashboard1 input[type=search] {
    margin-right: 10px;
}

.wrapperDashboard1 input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    bottom: 4px;
}

.wrapperDashboard1 thead {
    background-color: #DDDDDD;
}

    .wrapperDashboard1 thead a {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

.wrapperDashboard1 tbody {
    font-family: Source Sans Pro;
    background-color: white;
}

.wrapperDashboard1 #title {
    font-size: x-large;
    margin-bottom: 10px;
}

.moderator-dashboard-left {
    position: inherit;
    left: 5%;
    top: auto;
    width: 50%;
}

.moderator-dashboard-right {
    position: inherit;
    right: 5%;
    top: auto;
    width: 50%;
}

.listQuizzes-wrapper {
    margin-left: 40px;
}

.container-quizzes a {
    color: blue;
}

.container-quizzes {
    margin: 0 auto;
    width: 80%;
}

.table-quizzes {
    table-layout: fixed;
    /*overflow-x:auto;*/
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;
}

    .table-quizzes th, td {
        text-align: left;
        padding: 10px;
        /*border: 1px solid black;*/
        background-color: white;
        border-bottom: 1px solid lightgray;
    }

    .table-quizzes thead {
        background-color: darkgrey;
    }

    .table-quizzes a {
        text-decoration: none;
    }

    .table-quizzes th a, .table-quizzes th a:hover {
        color: black;
    }

    .table-quizzes td a, .table-quizzes td a:hover {
        color: deepskyblue;
    }

.user-group {
    margin-left: 40px;
}

    .user-group h2 {
        font-size: 2em;
        margin-bottom: 40px;
        font-weight: bold;
        margin-left: 40px;
    }

    .user-group label {
        font-size: 1em;
    }

    .user-group input {
        width: 20em;
        margin-bottom: 20px;
    }

.ug-import label {
    font-size: 1em;
}

.ug-import #file-link {
    font-size: 1em;
    color: deepskyblue;
    cursor: pointer;
}

    .ug-import #file-link:hover {
        text-decoration: underline;
    }

.ug-import input {
    display: none;
}

.user-group .table-quizzes input {
    width: 90%;
}

/*--------Styles form pagination--------*/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/*--------End styles form pagination--------*/

.table-quiz-info {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 50%;
    margin-bottom: 50px;
}

/*-----------------------------------*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.fullscreen-message {
    padding: 20px;
    font-size: 24px;
    background-color: lightgray;
    border: 2px solid black;
}

.existing-question-window {
    position: fixed;
    overflow-y: auto;
    top: 0px;
    left: 0px;
    margin: 80px 10%;
    z-index: 10000;
    background-color: white;
    width: 80%;
    max-height: calc(97% - 80px);
}

.existing-question-container {
    width: 90%;
    margin: 0 auto 10px auto;
    padding: 20px;
}

.bordered {
    padding: 10px;
    margin: 0px -10px;
    border: solid 1px #ddd;
}

.question-block {
    margin-top: 30px;
}

.close-button {
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: calc(5% + 10px);
}

.copy-button-container {
    margin-top: 20px;
}

/*Loading animation*/

.cssload-container {
    position: relative;
    text-align: center;
    top: calc(50% - 42px);
    left: calc(50% - 42px);
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    border: 1px solid rgb(204,204,204);
    border-left-color: rgb(0,0,0);
    border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.cssload-whirlpool {
    /*margin: -24px 0 0 -24px;*/
    height: 89px;
	width: 89px;
    animation: cssload-rotate 750ms linear infinite;
    -o-animation: cssload-rotate 750ms linear infinite;
    -ms-animation: cssload-rotate 750ms linear infinite;
    -webkit-animation: cssload-rotate 750ms linear infinite;
    -moz-animation: cssload-rotate 750ms linear infinite;
}

    .cssload-whirlpool::before {
        content: "";
        margin: -42px 0 0 -42px;
        height: 83px;
        width: 83px;
        animation: cssload-rotate 750ms linear infinite;
        -o-animation: cssload-rotate 750ms linear infinite;
        -ms-animation: cssload-rotate 750ms linear infinite;
        -webkit-animation: cssload-rotate 750ms linear infinite;
        -moz-animation: cssload-rotate 750ms linear infinite;
    }

    .cssload-whirlpool::after {
        content: "";
        margin: -48px 0 0 -48px;
        height: 95px;
        width: 95px;
        animation: cssload-rotate 1500ms linear infinite;
        -o-animation: cssload-rotate 1500ms linear infinite;
        -ms-animation: cssload-rotate 1500ms linear infinite;
        -webkit-animation: cssload-rotate 1500ms linear infinite;
        -moz-animation: cssload-rotate 1500ms linear infinite;
    }



@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

.verticalAlign {
    line-height: 70px;
}

.radio-vertical-center {
    top: -10px;
}

.answer-table {
    border: 1px solid #ddd;
}

    .answer-table th {
        text-align: center;
    }

    .answer-table td {
        text-align: center;
    }

    .answer-table th,
    .answer-table td,
    .answer-table thead {
        border-bottom: 1px solid #ddd;
    }

.right-margin {
    margin-right: 0px;
}

.right-align-div {
    margin-right: 15px;
    float: right;
}

.add-question-container {
    margin: 15px;
}

.question-padding {
    padding-bottom: 15px;
}

.loking-message {
    color: orange;
}

.wrapperDashboard1 .margin-button button{
    margin-bottom: 40px;
}
.wrapperDashboard1 .margin-button a {
    margin-bottom: 40px;
    border-radius: 0;
}

.wrapperDashboard1 .check-box {
    width: 2.5em;
    height: 2.5em;
    margin: initial;
    position: relative;
}

.wrapperDashboard1 .radio-button {
    width: 2.5em;
    height: 2.5em;
    margin: initial;
    position: relative;
}


@media (max-width: 1050px) {
    #container{
        width: 95%;
    }
}