<ul class="moderator-top-header">
    <li>
        @Html.ActionLink(linkText: "Quizzes", actionName: "Index", controllerName: "Quiz")
    </li>
    <li>
        <a href="">User Groups</a>
    </li>
    <li>
        <label>Moderator</label>
    </li>
</ul>
