@using Microsoft.AspNet.Identity;
<div class="header">
    <div>
        <div class="text-left col-xs-4 verticalAlign">
            @if (Request.Path.ToLower().Contains("moderator/quiz"))
            {
                <div class="menu-item-container active">
                    <a href="/moderator/quiz/" class="menu-item">QUIZZES</a>
                </div>
            }
            else
            {
                <div class="menu-item-container">
                    <a href="/moderator/quiz/" class="menu-item">QUIZZES</a>
                </div>
            }
            
            <span> &nbsp; </span>

            @if (Request.Path.ToLower().Contains("moderator/usergroup"))
            {
                <div class="menu-item-container active">
                    <a href="/moderator/usergroup/" class="menu-item">USER GROUPS</a>
                </div>
            }
            else
            {
                <div class="menu-item-container">
                    <a href="/moderator/usergroup/" class="menu-item">USER GROUPS</a>
                </div>
            }
        </div>
        <div class="col-xs-4" style="z-index:-1;">
            <img src="~/Areas/Moderator/Images/logo.png" class="img-responsive center-block" />
        </div>
    </div>
    <hr />

    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="text-left col-xs-4 verticalAlign">
            <div class="right-align-div">
                @User.Identity.GetUserName()
                <span> &nbsp; </span>
                <a href="javascript:document.getElementById('logoutForm').submit()">LOG OFF</a>
            </div>
        </div>
    }

</div>


