
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section HeadStyles
{    
    <link href="~/Areas/Moderator/Styles/equiz-temp.css" rel="stylesheet" />
}

@section PageHeader{
    @{
        Html.RenderPartial("~/Areas/Moderator/Views/Shared/_Header.cshtml");
    }
}

<div ng-controller="UserGroupController as g" class="user-group">
    <h2> Create new/ Edit {{g.group.Name}}</h2>

    <div class="user-group-name">
        <label> Name </label>
        <input type="text" ng-model="g.group.Name" value="{{g.group.Name}}"/>
    </div>
    <div class = "ug-import">
        <label> Students </label>
        <a href=""> Import from *.csv </a>
    </div>

    <table class = "table-quizzes">

        <thead>
            <tr>
                <th> 
                    <a href="#" ng-click="g.sortBy('LastName')">
                        {{g.showOrderArrow('LastName')}}FullName
                    </a> 
                </th>
                <th> 
                    <a href="#" ng-click="g.sortBy('Email')">
                        {{g.showOrderArrow('Email')}}E-mail
                    </a> 
                </th>
                <th> 
                    <a href="#" ng-click="g.sortBy('Delete')">
                        {{g.showOrderArrow('Delete')}}Delete
                    </a>
                </th>
            </tr> 
        </thead>
        <tbody>
            <tr ng-repeat = "user in g.users | orderBy: g.predicate: g.reverse">
                <td> {{user.LastName}} {{user.FirstName}} {{user.FatheName}} </td>
                <td> {{user.Email}}</td>
                <td> 
                    <a href="#" ng-click="g.deleteUser(user)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <button class="btn btn-default form-control lightgray" ng-click="g.save()">Save</button>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink(linkText: "Cancel", actionName: "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-default lightgray" })
        </div>
    </div>

</div>

@section FootScripts{
    <script src="~/Areas/Moderator/Scripts/app/pages/shared/user-group.service.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/user-group/user-group.controller.js"></script>   
}
