#loginContent {
    text-align: center;
}

h1 {
    font-family: sans-serif;
}

#loginTbl {
    border-spacing: 5px;
    position: fixed;
    top: 40%;
    left: 40%;
}

#loginTbl td {
    text-align: left;
}

#empty {
    width: 15px;
}

.LoginBtn {
    border: 2px solid black;
    border-radius: 4px;
}

.facebook-btn {
    background-color: #3B5998;
}

.google-btn {
    background-color: #3369E8;
}

.linkedin-btn {
    background-color: #0077B5;
}

#form-container {
    width: 35%;
    margin: 0 auto;
    background-color: white;
}

.content-wrapper {
    background-color: whitesmoke;
    font-family: Oswald;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: -100;
    display: flex;
    align-items: center;
}
.content-wrapper input[type=email] {
    cursor: text;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-wrapper{
    margin-top:20px;
    padding:1px 20px 20px 20px;
    background-color: none;
    font-family: Oswald;
}

.form-wrapper input {
    border-radius: 0;
}

.form-wrapper select {
    border-radius: 0;
}

.form-wrapper textarea {
    border-radius: 0;
}

.form-wrapper button {
    border-radius: 0;
}

.form-wrapper a {
    border-radius: 0;
}

.top-section {
     height: 78px;
    font-family: Oswald;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
    background-color: white;
}

.top-section img {
    height: 70px;
}