
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section HeadStyles{
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/Student/Styles/equiz-temp.css" />
}

@section HeadScripts{
    <script src="~/Areas/Student/Scripts/app/pages/quizInRun/quizInRun.service.js"></script>
    <script src="~/Areas/Student/Scripts/app/pages/quizInRun/trackUserResult.service.js"></script>
    <script src="~/Areas/Student/Scripts/app/pages/alert/customAlert.controller.js"></script>
    <script src="~/Areas/Student/Scripts/app/pages/confirm/customConfirm.controller.js"></script>
    <script src="~/Areas/Student/Scripts/app/pages/refreshWarning/refreshWarning.controller.js"></script>
    <script src="~/Areas/Student/Scripts/app/pages/quizInRun/quizInRun.controller.js"></script>
}
@section PageHeader{
    <div class='container-fluid' ng-if="!qc.isLoading" ng-controller="quizInRunCtrl as qc">

        <div class='col-md-4 col-sm-4 col-xs-4 col-lg-4 text-left headerText'>
            <a class="quizInRunLink" href="#">Menu</a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-center">
            <div id="timerContainer" data-ng-init="qc.startTimer()">
                <span id="timer" class="headerText" ng-style="qc.myStyle"><span class="arrows">></span> {{qc.time}} <span class="arrows"><</span></span>
            </div>
        </div>

        <div class='col-md-4 col-sm-4 col-xs-4 col-lg-4 text-right headerText'>
            User Group # <a class="quizInRunLink" href="#">FullName</a>
        </div>

    </div>
}
<div class="cssload-container" ng-if="qc.isLoading">
    <div class="cssload-whirlpool"></div>
</div>

<body id="quizInRunBody">
  
    <div ng-controller="quizInRunCtrl as qc" ng-cloak>

        <div class="inner" ng-if="!qc.isLoading">
            <div id="quizContent">
                <div>
                    <nav id="quizNav">
                        <ul>
                            <li class="liQuestion" ng-class="{activeQuestion: $index == qc.currentQuestion, navQuestions: $index != qc.currentQuestion}" ng-repeat="question in qc.quizQuestions" ng-click="qc.setCurrentQuestion($index, qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder, qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerText)">
                                <div class="liText">
                                    {{$index + 1}}
                                </div>
                                <div class="liQuestionText">
                                    Q{{$index + 1}}
                                </div>
                            </li>
                        </ul>

                        <!--<ul>
                            <li class="liQuestionText" ng-repeat="question in qc.quizQuestions">Q{{$index + 1}}</li>
                        </ul>-->

                    </nav>

                    <div id="questAndAnswer">
                        <ul>
                            <div class="questionText">{{qc.quizQuestions[qc.currentQuestion].Text}}</div>

                            <li ng-repeat="answer in qc.quizQuestions[qc.currentQuestion].Answers" ng-if="qc.quizQuestions[qc.currentQuestion].IsAutomatic">
                                <label ng-if="qc.quizQuestions[qc.currentQuestion].QuestionType == 'Select one'" style="width:100%;">
                                    <div>
                                        <input type="radio" ng-model="qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerId" name="answersGroup" value="{{answer.Id}}" ng-click="qc.setUserSingleChoice(qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, answer.Id, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder)">
                                        {{answer.Text}}
                                    </div>
                                </label>
                                <label ng-if="qc.quizQuestions[qc.currentQuestion].QuestionType == 'Select many'" style="width:100%;">
                                    <input type="checkbox" ng-model="qc.passedQuiz.UserAnswers[qc.currentQuestion].Answers[$index]" ng-true-value="{{answer.Id}}" name="answersGroup" ng-false-value="null" ng-click="qc.setUserMultipleChoice(qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, qc.passedQuiz.UserAnswers[qc.currentQuestion].Answers, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder)">
                                    {{answer.Text}}
                                </label>

                            </li>

                        </ul>
                        <textarea rows="{{qc.windowHeight * 20 | number}}" ng-if="!qc.quizQuestions[qc.currentQuestion].IsAutomatic" id="fieldForText" ng-model="qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerText"></textarea>
                    </div>
                    <div>
                        <input class="finishBtn" type="button" value="FINISH" ng-click="qc.finishQuiz(qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder, qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerText);">
                    </div>
                </div>


                <footer id="quizButtonsContainer" ng-if="!qc.isLoading">
                    <div class="quizBtns">
                        <input class="quizBtn prevBtn" type="button" value="Prev" ng-click="qc.setCurrentQuestion(qc.currentQuestion - 1, qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder, qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerText);">

                        <input class="quizBtn nextBtn" type="button" value="Next" ng-click="qc.setCurrentQuestion(+qc.currentQuestion + 1, qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder, qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerText)">
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>