<div id='content'>
    <!--<div ng-if="isLoading">
        <span id="loadingMessage">Loading...</span>
    </div>-->
    <div class="cssload-container" ng-if="isLoading">
        <div class="cssload-whirlpool"></div>
    </div>
    
    <table id='quizzesTable' ng-if="!isLoading">
        <caption><h2>Quizzes</h2></caption>
        <caption style="text-align: left;"><input type="search" ng-model="search" style="width:20em" placeholder="Search by name"></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="quiz in allQuizes | filter:{ Name: search }" ng-class="{ activeQuiz: quiz.InternetAccess, inactiveQuiz: !quiz.InternetAccess }">
                <td>
                    {{quiz.Name}}
                </td>
                <td>
                    {{quiz.StartDate}}
                </td>
                <td>
                    {{quiz.TimeLimitMinutes}}
                </td>
                <td>
                    <a href='#/quizInRun/{{quiz.Id}}/{{quiz.TimeLimitMinutes}}' ng-if="quiz.InternetAccess" ng-click="getQuestionById(quiz.Id, quiz.TimeLimitMinutes)">Start</a>
                    <div ng-if="!quiz.InternetAccess">Inactive</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
