@using Microsoft.AspNet.Identity

@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li> 
            <a href="#">Hello <span class="userFullName"> {{ dc.user.FirstName }} {{ dc.user.LastName }}</span>!</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
}