<div ng-controller="QuizDetailsController as qc">
    <br />

    <label style="text-decoration:solid; font-size:18px; float:left">{{qc.quizInfo.quizName}}, {{qc.quizInfo.groupName}}</label>
    <br />
    <br />
    <label>Search</label>
    <input type="text" ng-model="qc.search" style="width:15em">
    <div style="overflow-x:auto;">

        <table class="reviewTable">
            <thead>
                <tr>
                    <th ng-repeat="h in qc.headers">
                        <a class="link" href="#" ng-click="qc.refreshPredicate(h.predicateIndex); qc.order(qc.myPredicate[h.predicateIndex],null)">
                            <span class="sortorder" ng-show="qc.direction(h.predicateIndex) !== null" ng-class="{direction:qc.direction(h.predicateIndex)}"></span>
                            {{h.name}}
                        </a>
                    </th>
                    <th>
                        <a class="link">
                            Questions Details
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in qc.contents = (qc.students | filter: {student:qc.search})" style="height: 50px">
                    <td><a href="{{qc.linkToProfile}}" class="link" ng-click="qc.setLink(c.id);" ng-bind-html="c.student | highlight: qc.search">{{c.student}}</a></td>
                    <td>{{c.studentScore}} / {{qc.quizInfo.quizScore}} </td>
                    <td>{{c.quizStatus}}</td>
                    <td>
                        <a href="{{qc.linkToQuizRewiew}}" class="link" ng-click="qc.setLinkToQuiz(c.id);">
                            Passed : {{c.questionDetails.passed}}
                            In Verification : {{c.questionDetails.inVerification}}
                            Not Passed : {{c.questionDetails.notPassed}}
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
