<div class="container-fluid" style="background: #f9f9f9">
    <div class="col-md-12">
        <h1 class="h-font-responsive pad-top-bottom" ng-cloak>
            {{ReviewCtrl.student.firstName + " " + ReviewCtrl.student.lastName + " " + ReviewCtrl.student.fatherName}}, {{ReviewCtrl.quizPassInfo[0].group_name}}, {{ReviewCtrl.quizPassInfo[0].quiz_name}}
        </h1>
    </div>
    <div class="col-md-12 font-responsive" ng-cloak>
        <div class="display_inline">
            <label> Started: <b> {{ ReviewCtrl.getDateFromSeconds(ReviewCtrl.quizPassInfo[0].start_date) | date: "dd.MM.y HH:mm" }} </b></label> <br />
            <label> Finished: <b> {{ ReviewCtrl.getDateFromSeconds(ReviewCtrl.quizPassInfo[0].end_date) | date: "dd.MM.y HH:mm" }} </b> </label>
        </div>

        <div class="display_inline">
            <label> Total: <b> {{ReviewCtrl.quiz.length}} </b> </label> <br />
            <label> In verification:<b> {{ReviewCtrl.quizStatistics.inVerification}} </b> </label>
        </div>

        <div class="display_inline">
            <label> Passed: <b> {{ReviewCtrl.quizStatistics.passed}} </b> </label> <br />
            <label> Not passed: <b> {{ReviewCtrl.quizStatistics.notPassed}} </b> </label>
        </div>

        <div class="display_inline">
            <label> Score: <b> {{ReviewCtrl.quizStatistics.userSumPoints}} / {{ReviewCtrl.quizPassInfo[0].quiz_score}} </b> </label>
        </div>
    </div>
    <div class="col-md-12 font-responsive pad-top-bottom">
        <label>Filter: </label>
        <label class="checkbox-inline font-responsive"><input type="checkbox" ng-click="ReviewCtrl.selectStatusId(0)">In verification</label>
        <label class="checkbox-inline font-responsive"><input type="checkbox" ng-click="ReviewCtrl.selectStatusId(1)">Passed</label>
        <label class="checkbox-inline font-responsive"><input type="checkbox" ng-click="ReviewCtrl.selectStatusId(2)">Not passed</label>
    </div>

    <div class="col-md-12">
        <div ng-repeat="item in filtered = (ReviewCtrl.quiz | questionStatusFilter:ReviewCtrl.selectedStatuses)" ng-cloak>
            <div ng-if="item.Type == 'Text'">
                <div class="font-responsive">
                    <p> <b>#{{$index + 1}}</b> {{item.QuestionText}} </p>
                </div>

                <div class="font-responsive">
                    User answer:
                    <textarea class="form-control font-responsive white-background" readonly> {{item.Answer}} </textarea>
                    <p></p>
                    <button class="showRightAnswer btn btn-default font-responsive"> Show Right answer: </button>
                    <textarea class="form-control adminHintAnswer font-responsive white-background" style="border-color:lightgreen" readonly> {{item.RightAnswer}} </textarea>
                </div>

                <div class="pad-top-bottom">
                    <div class="display_inline">
                        <label class="font-responsive"> Score (MaxScore = {{item.MaxScore}}):</label>
                    </div>

                    <div class="display_inline">
                        <!--0 - in verification, 1 - passed, 2 - not passed-->
                        <input ng-model="item.UserScore" class="input-sm font-responsive" style="width: 75px" type="number" name="input" min="0" max="{{item.MaxScore}}" required>
                        <button class="approve-btn-style btn btn-success font-responsive" ng-click="ReviewCtrl.checkAndCount(item.UserScore, item.MaxScore, item.Id, $index + 1)">&#x2714</button>
                    </div>
                </div>
                <br>
            </div>

            <div ng-if="item.Type == 'Select'">
                <div class="font-responsive">
                    <p> <b>#{{$index + 1}}</b> {{item.QuestionText}} </p>
                </div>

                <div class="font-responsive" ng-repeat="anw in item.QuestionVariants">
                    <input ng-checked="anw.ChosenByUser" type="checkbox" onclick="return false;" onkeydown="return false;"> {{anw.Name}} <br>
                </div>

                <div class="display_inline pad-top-bottom">
                    <label class="font-responsive"> State:</label>
                </div>

                <div class="display_inline">
                    <!-- 0 - in verification, 1 - passed, 2 - not passed-->
                    <button ng-click="ReviewCtrl.setAutoQuestionStatus(item.Id, 1)" ng-class="{'btn-lightgreen': ReviewCtrl.setAutoQuestionColor(item.UserScore, 1)}" type="button" class="btn btn-primary btn-lightgreen-hover btn-standart font-responsive">Passed</button>
                    <button ng-click="ReviewCtrl.setAutoQuestionStatus(item.Id, 2)" ng-class="{'btn-lightcoral': ReviewCtrl.setAutoQuestionColor(item.UserScore, 2)}" type="button" class="btn btn-primary btn-lightcoral-hover btn-standart font-responsive">Not Passed</button>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div class="confirm_btns_section spacing">
        <span class="btn_spacing">
            <button ng-click="ReviewCtrl.finalizeQuizReview()" ng-disabled="ReviewCtrl.isFinalized || ReviewCtrl.quizIsInVerification" type="button" ng-class="{'btn_finalized': ReviewCtrl.isFinalized}" class="btn-standart btn_length btn btn-lg font-responsive btn_spacing">Finalize</button>
            <button ng-click="ReviewCtrl.saveQuizReview()" ng-hide="ReviewCtrl.isFinalized" ng-disabled="ReviewCtrl.saveIsDisabled || ReviewCtrl.isFinalized" type="button" class="btn-standart btn_length btn btn-lg font-responsive btn_spacing">Save</button>
            <button type="button" confirmed-click="ReviewCtrl.returnButton()" ng-confirm-click="Are you sure?" class="btn-standart btn_length btn btn-lg font-responsive btn_spacing">Return</button>
            <button ng-click="ReviewCtrl.cancelQuizReview()" ng-hide="ReviewCtrl.isFinalized" ng-disabled="ReviewCtrl.cancelIsDisabled || ReviewCtrl.isFinalized" type="button" class="btn-standart btn_length btn btn-lg font-responsive btn_spacing">Cancel changes</button>
        </span>
    </div>
    <div pop-up-window></div>

</div>