<div>
    <br />
    <br />
    <label>Search</label>
    <input type="text" ng-model="rc.search" style="width:15em">
    <button ng-click="rc.exportShow=!rc.exportShow" style="text-decoration:solid; font-size:20px; float:right">
        Export
    </button>

    <div style="overflow-x:auto;">
        <table class="reviewTable" auto-height="{{rc.groupList.length}}">
            <thead>
                <tr>
                    <th><a href="#" ng-show="rc.exportShow" ng-click="rc.addOrRemoveFromExportAll(rc.contents)">{{rc.multipleExportToDo()}}</a></th>
                    <th ng-repeat="h in rc.headers">
                        <a class="link" href="#" ng-click="rc.refreshPredicate(h.predicateIndex); rc.order(rc.myPredicate[h.predicateIndex],null)">
                            <span class="sortorder" ng-show="rc.direction(h.predicateIndex) !== null" ng-class="{direction:rc.direction(h.predicateIndex)}"></span>
                            {{h.name}}
                        </a>
                        <div ng-if="h.field == 'userGroup'" ng-cloak class="btn-group groupBtn" ng-class="{open: rc.groupListOpened}">

                            <button class="btn dropdown-toggle" ng-click="rc.groupListOpened=!rc.groupListOpened">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li>
                                    <a ng-click="rc.checkAll()"><i class="icon-ok-sign"></i>Check All</a>
                                </li>
                                <li>
                                    <a ng-click="rc.unCheckAll()"><i class="icon-remove-sign"></i>Uncheck All</a>
                                </li>
                                <li class="divider"></li>
                                <li ng-repeat="group in rc.groupList">
                                    <a ng-click="setSelectedGroup()" ng-model="group">{{group}} <span ng-class="rc.isChecked(group)"></span> </a>
                                </li>
                            </ul>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in rc.contents = ((rc.searchFiltered = (rc.students | groupFilter:rc.selectedGroup | filter: {student:rc.search})) | startFrom: rc.tablePage*rc.resultsPerPage | limitTo:rc.resultsPerPage)" style="height: 50px">
                    <td><a href="#" ng-show="rc.exportShow" ng-click="rc.addOrRemoveFromExport(c)">{{rc.singleExportToDo(c)}}</a></td>
                    <td><a href="Index/Student?Id={{c.id}}#Profile" class="link" ng-bind-html="c.student | highlight: rc.search">{{c.student}}</a></td>
                    <td>{{c.userGroup}}</td>
                    <td>{{c.quizzes}}</td>
                </tr>

            </tbody>
        </table>

        <div layout="row">
            <span>
                Rows on the page:
                <select style="margin:5px" ng-model="rc.resultsPerPage" ng-change="rc.tablePage=0" ng-options="p for p in rc.resultsCount"></select>
                <span ng-show="rc.numberOfPages() &gt; 1">
                    <button ng-disabled="rc.tablePage==0" ng-click="rc.tablePage=rc.tablePage-1">Previous page</button>
                    <span ng-repeat="i in rc.getNumber(rc.numberOfPages()) track by $index">
                        <button ng-click="rc.goToPage($index)"><span ng-class="{ 'table-active-page' : rc.tablePage==$index}">{{$index+1}}</span></button>
                    </span>
                    <button ng-disabled="rc.tablePage==rc.numberOfPages()-1" ng-click="rc.tablePage=rc.tablePage+1">Next page</button>
                </span>
                Total: {{rc.searchFiltered.length}}
            </span>
        </div>

        <br />
        <br />

        <div ng-show="rc.exportShow" style="width:1000px; float:inherit; border:solid">
            <p style="text-decoration:solid; font-size:20px; margin:5px">Exporting to excel file:</p>
            <table class="table-bordered" style="border:double; margin:auto">
                <thead>
                    <tr>
                        <th ng-repeat="h in rc.headers">{{h.name}}</th>
                        <th>id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in rc.contentsToExport">
                        <td>{{c.student}}</td>
                        <td>{{c.userGroup}}</td>
                        <td>{{c.quizzes}}</td>
                        <td>{{c.id}}</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <p style="margin:0px 0px 0px 50px">Total for export: {{rc.contentsToExport.length}}</p>
            <button ng-disabled="rc.multipleExportToDo() === 'Export All'" style="margin:5px 0px 10px 70px ; text-decoration:solid; font-size:20px">Save</button>
        </div>
    </div>
</div>
