<div class="notification">
    <div class="custom-modal-header"><label class="closePopUp" ng-click="cc.cancel()">&#10006</label></div>
    <div class="custom-modal-body"> 
        <label>Are you sure you want to finish the quiz?</label>
        <br />
        You wouldn't be able to resume
    </div>
    <div class="custom-modal-footer">
        <button class="modalBtn" id="modalBtnYes" type="button" ng-click="cc.ok()">Yes</button>
        <button class="modalBtn" id="modalBtnNo" type="button" ng-click="cc.cancel()">No</button>
    </div>
</div>
