<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=MDV\SQLEXPRESSMDV;initial catalog=eQuiz;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  <add name="eQuizDB" connectionString="metadata=res://*/eQuizEntities.csdl|res://*/eQuizEntities.ssdl|res://*/eQuizEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MDV\SQLEXPRESSMDV;Initial Catalog=eQuiz;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>


