
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section HeadStyles{
    <link rel="stylesheet" href="~/Areas/Student/Styles/equiz-temp.css">
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
}


@section PageHeader{
    <div class="headerLogin">
        <div id="epamLogo">
            <img src="~/Areas/Student/Images/logo.png" class="img-responsive center-block" />
        </div>
    </div>
}
<div class="wrapper background">
    <div class="container col-sm-offset-3 col-sm-6 jumbotron transperent ">
            <div class="container-fluid">
                <label class="col-sm-12" id="equiz">EQUIZ</label>
                <label class="col-sm-12" id="login">LOG IN</label>
            </div>
            <div class="container-fluid center">
                    <button type="button" class="btn btn-lg btn-danger center-block col-md-3" id="facebookBtn">FACEBOOK</button>
                    <button type="button" class="btn btn-lg btn-warning center-block col-md-3" id="googleBtn">GOOGLE</button>
                    <button type="button" class="btn btn-lg btn-success center-block col-md-3" id="linkedinBtn">LINKEDIN</button>
            </div>
    </div>
</div>

