@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using Microsoft.AspNet.Identity;
@section HeadScripts
{
    <base href="/Admin/Default/" />
}
@section PageHeader
{
<nav class="navbar navbar-custom h-responsive">
    <div class="container-fluid h-font-responsive">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Admin/Default/Index">QUIZZES</a></li>
            <li class="active"><a href="/Admin/Default/Index/Students">STUDENTS</a></li>
        </ul>

        <div class="logo" href="#">
            <img src="~/Areas/Admin/Images/logo.png">
        </div>

        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">@User.Identity.GetUserName()</p></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">LOG OFF</a></li>
            </ul>
        }
    </div>
</nav>
}

<div style="z-index: 5" data-loading class="cssload-container centered">
    <div class="cssload-speeding-wheel"></div>
</div>
<div style="z-index: 2" ng-view> </div>

@section FootScripts
{
    <script src="~/Areas/Admin/Scripts/shared/routing.js"></script>
    <script src="~/Areas/Admin/Scripts/shared/loading-screen.directive.js"></script>
    <script src="~/Areas/Admin/Scripts/review/table-height.directive.js"></script>
    <script src="~/Areas/Admin/Scripts/shared/pop-up-window.directive.js"></script>
    <script src="~/Areas/Admin/Scripts/shared/ng-confirm-click.directive.js"></script>

    <script src="~/Areas/Admin/Scripts/review/group.filter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/highlight.filter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/start-from.filter.js"></script>
    <script src="~/Areas/Admin/Scripts/quiz-review/question-status.filter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/trustAsHtml.filter.js"></script>

    <script src="~/Areas/Admin/Scripts/quiz-review/quiz-review-data.service.js"></script>
    <script src="~/Areas/Admin/Scripts/review/review-data.service.js"></script>
    <script src="~/Areas/Admin/Scripts/student/student-data.service.js"></script>
    <script src="~/Areas/Admin/Scripts/quiz-details/quiz-details-data.service.js"></script>
    <script src="~/Areas/Admin/Scripts/quizzes/quizzes-data.service.js"></script>

    <script src="~/Areas/Admin/Scripts/quiz-review/quiz-review.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/review/review.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/student/student.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/quiz-details/quiz-details.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/quizzes/quizzes.controller.js"></script>

}

@section HeadStyles
{
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Styles/equiz-temp.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
}