@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using Microsoft.AspNet.Identity;
@section HeadScripts
{
    <base href="/Admin/Default/" />
}
@section PageHeader
{
    <div ng-app="equizModule" class="header h-responsive">
        <div class="text-left col-md-4 verticalAlign pad-top-bottom">
            <a class="h-font-responsive sans-font" onclick="location.href='/Admin/Default/Index'" style="margin-right: 8px">QUIZZES</a>
            <a class="h-font-responsive sans-font" onclick="location.href='/Admin/Default/Index/Students'">STUDENTS</a>
        </div>

        <div class="col-md-4" style="height: 100%; z-index:-1;">
            <img src="/Areas/Student/Images/logo.png" class="img-responsive center-block" style="height: 100%">
        </div>

        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
    {
            @Html.AntiForgeryToken()

            <div class="text-left col-md-4 verticalAlign pad-top-bottom">
                <div class="right-align-div h-font-responsive">
                    @User.Identity.GetUserName()
                    <a class="h-font-responsive" style="padding-left: 8px" href="javascript:document.getElementById('logoutForm').submit()">LOG OFF</a>
                </div>
            </div>
        }
    </div>
}

<div style="z-index: 5" data-loading class="cssload-container centered">
    <div class="cssload-speeding-wheel"></div>
</div>
<div style="z-index: 2" ng-view> </div>
</div>
</div>

@section FootScripts
{
    <script src="~/Areas/Admin/Scripts/shared/routing.js"></script>
    <script src="~/Areas/Admin/Scripts/shared/loading-screen.directive.js"></script>
    <script src="~/Areas/Admin/Scripts/review/table-height.directive.js"></script>
    <script src="~/Areas/Admin/Scripts/shared/pop-up-window.directive.js"></script>
    <script src="~/Areas/Admin/Scripts/shared/ng-confirm-click.directive.js"></script>

    <script src="~/Areas/Admin/Scripts/review/group.filter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/highlight.filter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/start-from.filter.js"></script>
    <script src="~/Areas/Admin/Scripts/quizReview/question-status.filter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/trustAsHtml.filter.js"></script>

    <script src="~/Areas/Admin/Scripts/quizReview/quiz-review-data.service.js"></script>
    <script src="~/Areas/Admin/Scripts/review/review-data.service.js"></script>
    <script src="~/Areas/Admin/Scripts/student/student-data.service.js"></script>
    <script src="~/Areas/Admin/Scripts/quiz-details/quiz-details-data.service.js"></script>
    <script src="~/Areas/Admin/Scripts/quizzes/quizzes-data.service.js"></script>

    <script src="~/Areas/Admin/Scripts/quizReview/quiz-review.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/review/review.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/student/student.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/quiz-details/quiz-details.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/quizzes/quizzes.controller.js"></script>

}

@section HeadStyles
{
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Styles/equiz-temp.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
}